<div class="card card-anim card-anim-right no-padding bd-radius-md box-shadow-sm text-center" id="signup-card">
	<h1>Registrarse en la PIC</h1>
	<form>
      <div class="form-group">
        <label for="registerUserName">Nombre de Usuario</label>
        <input type="email" class="form-control" id="registerUserName" placeholder="Tu usuario">
      </div>
  		<div class="form-group">
    		<label for="registerEmail">Email</label>
    		<input type="email" class="form-control" id="registerEmail" placeholder="Tu email">
  		</div>
  		<div class="form-group">
    		<label for="registerPassword">Password</label>
    		<input type="password" class="form-control" id="registerPassword" placeholder="Tu contraseña">
  		</div>
      <button class="btn btn-default" id="registrationBtn">Registrarse</button>
	</form>
  <div class="card-detail padding-md">
    <button class="btn btn-default" id="toLoginBtn">Volver a Login</button>
  </div>
	
</div>